/* configs do Home.jsx */
.exerc-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.browser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
}

button{
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ccc;
    padding: 5px;
} 

button:hover{
    background-color: #8d8d8d;
}